<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhotoFileMapper">

  <select id="list" resultType="com.eomcs.lms.domain.PhotoFile">
    SELECT 
        PFNO as no,
        PATH as filepath,
        PNO as boardNo
    FROM PHO_FILE
  </select>
  
  <select id="listByBoard" resultType="com.eomcs.lms.domain.PhotoFile" parameterType="int">
    SELECT 
        PFNO as no,
        PATH as filepath,
        PNO as boardNo
    FROM PHO_FILE
    WHERE PNO=#{value}
  </select>

  <insert id="add" parameterType="com.eomcs.lms.domain.PhotoFile">
    INSERT INTO PHO_FILE(PATH,PNO) 
    VALUES(#{filepath},#{boardNo})
  </insert>
  
  <delete id="delete" parameterType="int">
    DELETE FROM PHO_FILE 
    WHERE PFNO=#{value}
  </delete>
  
  <delete id="deleteByBoard" parameterType="int">
    DELETE FROM PHO_FILE 
    WHERE PNO=#{value}
  </delete>
  
</mapper>